@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f280;
}

/* Hide scrollbar but keep scrolling functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.punctualityGradient {
  background: linear-gradient(90deg, "red" "white", "red");
}

@font-face {
  font-family: "ACaslonPro";
  src: url("/public/fonts/ACaslonPro-Regular.otf") format("opentype");
}
